<!doctype html>
<html lang="{{lang}}">
<head>
  <meta charset="utf-8">
  <title>{{docTitle}}</title>
  <link rel="stylesheet" href="./styles/font-face.css">
  <link rel="stylesheet" href="./styles/tokens.css">
  <link rel="stylesheet" href="./styles/base.css">
  <link rel="stylesheet" href="./styles/print.css">
  <link rel="stylesheet" href="./styles/components.css">
</head>
<body>
{{{body}}}
</body>
</html>
